<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kansas City Chiefs - Latest News</title>

    <!-- // Styles // -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <section class="container">
        <div class="d-flex">
            <div class="col-3">
                Chiefs News Scraper
            </div>
            <div class="col-6">
                <a href="#">Home</a>
                <a href="#">Saved Articles</a>
                <a href="#">Archive</a>
                <button>Scrape News</button>
                <button>Clear Articles</button>
            </div>
            <div class="col-3">
                Other stuff
            </div>
        </div>
    </section>
</header>

<main>
    <section class="container">
        {{{ body }}}
    </section>
</main>

<!-- // Scripts // -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
